#canvasContainer{
    position: relative;
}

#firstLayer{
    position: absolute;
    z-index: 1;
}

#secondLayer{
    position: absolute;
    z-index: 2;
}

#thirdLayer{
    position: absolute;
    z-index: 3;
}

#headerCanvas{
    position:absolute;
    display: none;
    margin-top: 50px;
    font-weight: bolder;
}

#motifLocations{
    margin-left: 55px;
}

#lineNameContainer{
    position:absolute;
    margin-top: 45px;
}

#lineName{
    line-height: 70px;
    white-space: pre-line;
}

#popUp{
    position: absolute;
    z-index: 4;
    background-color: white;
    border: 4px double black;
    font-size: small;
    text-align: center;
    word-wrap: break-word;
    padding: 3px;
    min-height:100px;
    height:auto;
    display: none;
}

#checkZone{
    position: absolute;
    margin-left: 500px;
}