#canvasContainer{
    position: relative;
}

#firstLayer{
    position: absolute;
    z-index: 1;
}

#secondLayer{
    position: absolute;
    z-index: 2;
}

#thirdLayer{
    position: absolute;
    z-index: 3;
}

#popUp{
    position: absolute;
    z-index: 4;
    background-color: white;
    border: 4px double black;
    font-family: 'Consolas';
    font-size: medium;
    text-align: center;
    word-wrap: break-word;
    padding: 3px;
    min-height:100px;
    height:auto;
    display: none;
}

#checkZone{
    margin-left: 0px;
}