#jsonInputId{
    width: 800px;
    height: 300px;
    word-break: break-word;
}

#canvasContainer{
    position:relative;
}

#headerCanvas{
    position:absolute;
    display: none;
    margin-top: 50px;
    font-weight: bolder;
}

#motifLocations{
    margin-left: 55px;
}

#lineNameContainer{
    position:absolute;
    margin-top: 70px;
}

#lineName{
    line-height: 50px;
    white-space: pre-line;
}

#popUp{
    position: absolute;
    background-color: white;
    border: 4px double black;
    font-size: small;
    text-align: center;
    word-wrap: break-word;
    padding: 3px;
    min-height:100px;
    height:auto;
    display: none;
}