#jsonInputId{
    width: 800px;
    height: 300px;
    word-break: break-word;
}

#canvasContainer{
    position:relative;
}

#headerCanvas{
    position:absolute;
    display: none;
    margin-top: 50px;
    font-weight: bolder;
}

#motifLocations{
    margin-left: 55px;
}

#lineNameContainer{
    position:absolute;
    margin-top: 70px;
}

#lineName{
    line-height: 50px;
    white-space: pre-line;
}

#popUp{
    position:absolute;
    font-size: small;
    padding-top: 9px;
    padding-left: 3px;
    height: 10px;
    display: none;
}